# Backend
/backend/__pycache__/
/backend/*.pyc
/backend/db.sqlite3
/backend/media/
/backend/static/


# Frontend
/frontend/.next/
/frontend/node_modules/
/frontend/.env.local

# Global
.env
/media/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea
venv/